<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la persona</title>
</head>
<body>
    <h1>{{persona.id}}</h1>
    <h2>{{persona.nombre}}</h2>
    <h3>{{persona.apellido}}</h3>
    <h3>{{persona.email}}</h3>
    <h4>{{persona.domicilio}}</h4>
    <a href="/editar_persona/{{persona.id}}">Editar</a>
    <br> <br>
    <a href="{% url 'index' %}">Regresar al inicio</a>
    
</body>
</html>